/*! meyer reset */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font imports */
h1, small, input, button {
  font-family: "Lato", sans-serif;
}

/* variables for themes */
:root.dark {
  --border: 2px solid white;
  --primary-color: black;
  --secondary-color: white;
}

:root.light {
  --border: 2px solid black;
  --primary-color: white;
  --secondary-color: black;
}

html {
  background-color: var(--primary-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  padding: 2.25rem;
  border: var(--border);
  border-radius: 10px;
  min-width: 267px;
}

section:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  height: 80%;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
}

form > small {
  text-align: center;
}

fieldset {
  border: none;
}

h1 {
  color: var(--secondary-color);
  font-size: 2rem;
  text-decoration: underline;
}

a, small {
  color: var(--secondary-color);
}

.input-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.input-group:first-child {
  margin-top: 1rem;
}

.input-group > label {
  color: var(--secondary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-group > input {
  padding: 0.5rem 0.5rem;
  border-radius: 0.4rem;
  border: var(--border);
  margin-top: 0.1rem;
  font-size: 1rem;
}

#notices > * {
  color: var(--secondary-color);
}

.small-input {
  margin-bottom: 2rem;
}

.btn {
  margin: 1.5rem 3rem;
  position: relative;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  padding: 1rem 4rem;
  cursor: pointer;
  animation: ease 1000ms;
  border-radius: 5%;
  font-size: 1.4rem;
}

#toggle-theme {
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  margin-top: 1rem;
  border-radius: 10%;
}

.btn:hover {
  transform: scale(0.9);
}

@media (max-width: 900px) {
  main {
    flex-direction: column;
  }
  img {
    width: 20rem;
    height: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
